{% extends 'admin.html.twig' %}

{% block content_header %}
    <h1>Ajouter un nouvel accès</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        <li><a href="{{ path('ladr_security_access_index') }}"><i class="fa fa-lock"></i> Accès</a></li>
        <li class="active">Ajouter</li>
    </ol>
{% endblock content_header %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Accès</h3>
        </div>
        <!-- /.box-header -->
        {{ form_start(form) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer with-border">
            <button type="submit" class="btn btn-primary pull-right">{{ 'Ajouter'|trans }}</button>
        </div>
        {% do form.submit.setRendered() %}
        <!-- /.box-footer -->
        {{ form_end(form) }}
    </div>
{% endblock content %}